/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

.navbar {
    background-color: white;    
    
}/*color de fondo de la barra de navegación*/


#nav a {
    color: #FF0404;
    font-weight: 600;
    letter-spacing: 0.3em;
}/*estilo de letras de la navbar*/


#navbarNav li {
    padding-left: 2em;
} /* espacio entre items del navbar*/



img{
max-width:100%;
max-height:100%;
}

#description{
  font-size: 1rem;
  color: #836B6B;
  font-weight: lighter;
  line-height:2rem
}

.containerSect {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-image: white;
    background-size: cover; /* Resize the background image to cover the entire container */
    margin-top: 0%;
    margin-bottom: 10%;
    
    
}


.card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.25s;
  
}


.card{
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba (0, 0, 0, 0.2);
  transition: all 0.25s;
  justify-content: space-between;
}

.containerCards {
    margin-top: 10%;
}

header {
    box-sizing: content-box;
    width: 100%;
}




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    text-align: center;
    background: #000000;
    color: #fff;
    font-size: 15px;    
    padding: 10px 0;
  }  

  
  #footer .social-links {
    text-align: center;
    margin: 3 3 40px 1;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #d60f08;
    color: #fff;
    line-height: 1;
    padding: 10px 0;
    margin-right: 20px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }

  #footer .social-links a:hover {
    background: #02bdad;
    color: #fff;
    text-decoration: none;
    padding: 8px 0;
  }
  
  #footer .copyright {
    text-align: center;
    margin: 0 0 5px 0;
  }

  .bxl-twitter{
    content: url('https://api.iconify.design/bx/bxl-twitter.svg?color=white');
  } 

  .bxl-instagram{
    content: url('https://api.iconify.design/fontisto/instagram.svg?color=white');
  }
  
  .bxl-facebook{
    content: url('https://api.iconify.design/cib/facebook-f.svg?color=white');
  }

#about{
    margin: 0 auto;
}

#about-image {
    background-image: url(./../img/nosotros/pexels-laker-6157005.jpg);
    background-size: cover;
    height: 80%;
    width: 80%;
    float: left;
    padding: 0%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;

}

#about-text {
    font-family: 'Roboto', sans-serif;
    color: #836B6B;
    letter-spacing: 0.2em;
    height: auto;
    width: 100%;
    /* float: left; */
    padding: 10%; 
    margin-top: 2em;
    display: inline-block;    
    font-size: 0.8em;
    
}


.row {
    clear: both;
}


#integrantes {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
    letter-spacing: 0.5em;
    margin: 10px;
    margin-left: -50px;
    height: 60px;
    width: 294px;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
}

#Paulyna, #Abigail, #Arturo, #Luis, #Neri, #Armando{
    margin-top: 100px;
}

#Bernardo, #Edwin, #Cristian{
    margin-top: 50px;
}

.card{
    margin: auto;
}
