.cart{
  margin-top: 8px;
}


h2{
    padding: 45px 15px 20px;      
                                /*  arriba, 30px de padding          */
                             /*  izquierda y derecha, 3 de padding */
                             /*  bottom, 20px padding       */
  }
  
  .card-group {
    display: flex;
    flex-direction: column;
  }