/* .body {
    font-family: 'Roboto', sans-serif;
} */

#logo {
    /* position: absolute; */
    width: 187px;
    height: 101.31px;
    left: 41px;
    top: 7.51px;
}

#container {
    /*imagen de fondo*/
    background-image: url(/img/Index/mexicoMiAmor.jpg);
    background-position:calc(100%);
    background-size:cover;
    background-repeat: no-repeat;
}


.form p {
    text-align: left;
    font-style: .1rem;
    letter-spacing: 0.35rem;
}


.form-control {
    /*cuadros de introduccion de datos */
    background-color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .5);
    color: white;
}

:invalid{
    color: red;
}

.form {
    /* cuadro de negro de fondo  */
    font-size: 24px;
    letter-spacing: 0.1em;
    line-height: 28.13px;
    font-style: normal;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    padding: 4%;
    width: 871px;
    height: 580px;
}

#crear{
    color:rgba(255, 255, 255, 0.651);
}
.row {
    /*centrado del cuadro en la pantallass*/
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    padding:4%;
}

#send {
    /*boton enviar */
    color: #FF0404;
    width: 283px;
    font-weight: bold;
    border-radius: 0px; 
    font-size: 24px;
}

#cbtn {
    color: #FF0404;
}

.containerSect{
    font-style: 1rem;
}



#iniciar{
    color:rgb(255, 255, 255);
    text-decoration: underline rgb(255, 255, 255);
    padding: 0%; 
}

#cuenta{
    color:rgb(255, 255, 255);
    padding: 0%; 
}

.form-group{
    justify-content: left;
} 

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: red;
}

.was-invalidated :valid~.invalid-feedback{
    display: block;
}

.was-invalidated .form-control:valid{
    border-color: red;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);  
}

#forgot{
    font-size: 20px;
}

#login-social{
    justify-content:center;
}
/* #iniciar{
    justify-content: right;
    padding: 0%;
}

#formulario{
    color: rgb(255, 255, 255);
} */

