/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #444444;
  }



  /*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

.navbar {
    background-color: white;
}/*color de fondo de la barra de navegación*/


#nav a {
    color: #FF0404;
    font-weight: 600;
    letter-spacing: 0.3em;
}/*estilo de letras de la navbar*/


#navbarNav li {
    padding-left: 2em;
} /* espacio entre items del navbar*/

/*--------------------------------------------------------------
Collage Image
--------------------------------------------------------------*/

/*Estilos de galeria Inicio*/

/*The gallery-container:se usa la propiedad grid para hacer las columnas todo lo demas es para crear los espacios */
 .gallery-container{
  display: grid;
  padding: 20px;
  grid-gap: 20px;
  grid-auto-rows: 300px;
} 
/*Es necesario para que la imagen ocupe el 100% de su contenedor */
.gallery__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* The flip card: establece el ancho y la altura a lo que deseemos. Hemos agregado la propiedad de borde para demostrar que el giro en sí sale de la caja al pasar el mouse */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}
/* This container es para la posicion de al frente y de atras */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* Hace un giro horizontal cuando se mueve el mouse sobre el contenedor de la caja plegable */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
/* Posicion la parte delantera y trasera */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
/* Aplicar estilo al adverso (alternativa si falta la imagen)  */
.flip-card-front {
  background-color: #bbb;
  color: black;
}
/* Estilo de la parte trasera */
.flip-card-back {
  background-color: #000000;
  /* color: white; */
  transform: rotateY(180deg);
}

/*Se agregan estilos a la parte trasera de la card */
.display-flex{
  display: flex;
  flex-direction: column;
  background-color:#000000; 
  text-align: center; 
  justify-content: center;
  
}



@media screen and  (min-width:365px){
  .gallery-container{
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    width: 90%;
    margin: auto;
    grid-auto-rows: 250px; 
  }
  .display-flex{
    display: flex;
    flex-direction: column;
    background-color:#000000; 
    text-align: center; 
    justify-content: center;
  }
  .gallery__item:nth-child(1){
      grid-column-start: span 1;
      grid-row-start: span 2;
  }
  .gallery__item:nth-child(2){
      grid-column-start: span 2;
      grid-row-start: span 1;
  }
  .gallery__item:nth-child(3){
      grid-column-start: span 1;
      grid-row-start: span 1;
  }
  .gallery__item:nth-child(4){
      grid-column-start: span 1;
      grid-row-start: span 2;
  }
  .gallery__item:nth-child(5){
      grid-column-start: span 1;
      grid-row-start: span 1;
  }
  .gallery__item:nth-child(6){
      grid-row-start: span 2;
  }
  .gallery__item:nth-child(7){
      grid-column-start: span 1;
      grid-row-start: span 1;
  }
  .gallery__item:nth-child(8){
      grid-column-start: span 1;
      grid-row-start: span 1;
  }
}
@media screen and  (min-width:800px){
  .gallery-container{
      grid-template-columns: repeat(3, 1fr);
      width: 90%;
      margin: auto; 
      grid-auto-rows: 200px;
  }
  .gallery__item:nth-child(1){
    grid-column-start: span 1;
    grid-row-start: span 2;
  }
  .gallery__item:nth-child(2){
    grid-row-start: span 2;
    grid-row-start: span 1;
  }
  .gallery__item:nth-child(4){
    grid-row-start: span 2;
  }
  .gallery__item:nth-child(6){
    grid-row-start: span 2;
  }
}

@media screen and  (min-width:1200px){
  .gallery-container{
      grid-template-columns: repeat(4, 1fr);
      width: 90%;
      margin: auto; 
      grid-auto-rows: 180px;
      font-size: 1.5rem;
  }
  .gallery__item:nth-child(1){
      grid-column-start: span 2;
      grid-row-start: span 3;
  }
  .gallery__item:nth-child(2){
      grid-column-start: span 2;
      grid-row-start: span 3;
  }
  .gallery__item:nth-child(3){
      grid-column-start: span 1;
      grid-row-start: span 1;
  }
  .gallery__item:nth-child(4){
      grid-column-start: span 2;
      grid-row-start: span 3;
  }
  .gallery__item:nth-child(5){
      grid-column-start: span 1;
      grid-row-start: span 1;
  }
  .gallery__item:nth-child(6){
      grid-row-start: span 2;
  }
  .gallery__item:nth-child(7){
      grid-column-start: span 1;
      grid-row-start: span 1;
  }
  .gallery__item:nth-child(8){
      grid-column-start: span 1;
      grid-row-start: span 1;
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    text-align: center;
    background: #000000;
    color: #fff;
    font-size: 15px;    
    padding: 10px 0;
  }  

  
  #footer .social-links {
    text-align: center;
    margin: 3 3 40px 1;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #d60f08;
    color: #fff;
    line-height: 1;
    padding: 10px 0;
    margin-right: 20px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }

  #footer .social-links a:hover {
    background: #02bdad;
    color: #fff;
    text-decoration: none;
    padding: 8px 0;
  }
  
  #footer .copyright {
    text-align: center;
    margin: 0 0 5px 0;
  }

  .bxl-twitter{
    content: url('https://api.iconify.design/bx/bxl-twitter.svg?color=white');
  } 

  .bxl-instagram{
    content: url('https://api.iconify.design/fontisto/instagram.svg?color=white');
  }
  
  .bxl-facebook{
    content: url('https://api.iconify.design/cib/facebook-f.svg?color=white');
  }

  .bxl-admi{
    content: url('https://api.iconify.design/ri/admin-fill.svg?color=%23535151');
  }

/* Carrito */
  .cart{
    margin-top: 8px;
}
